@charset "UTF-8";

// font-face
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// common
$commonColor: #222;
$mainColor: #014E9E;
$subColor: #74C7EF;
$greenColor: #004E3E;

$headerskyColor: #78CDF7;

$m5: 0.5rem;
$m10: 1rem;
$m15: 1.5rem;
$boradi: 10px;
html {font-size: 10px; scroll-behavior: smooth;}
body {
    font-size: 1.5rem;
    font-family: 'Pretendard-Regular', sans-serif;
    font-weight: 500;
    color: #222;    
}

// header
header {
    position: relative;
    width: 100%;
    height: 250px;
    background: linear-gradient($headerskyColor, #fff);
    overflow: hidden;
    .cloud {
        position: absolute;
        &-sky {
            top: 60px; right: -100px;
        }
        &-white {
            top: 100px; left: -90px;
        }
    }
    z-index: -1;
}

// container
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: -250px auto;
    padding: 20px;
    // border: 1px solid #ccc;
    box-sizing: border-box;
    // background: #fff;

    .logo-area {
        position: absolute;
        top: 80px; right: -10%;
        z-index: 100;
        .logo {
            width: 350px;
        }
    }
    

    // h1-area
    .h1-area {
        margin-top: 230px;
        h1 {
            font-size: 9rem;
            font-weight: 900;
            span {
                font-size: 2rem;
                font-weight: 200;
            }
            p {
                margin-top: -5px;
                font-size: 2rem;
            }
    
        @media (max-width: 400px) {
            h1 {
                margin-top: 200px;
            }
        }
    }
    
}


.apply {
    display: inline-block;
    width: 100%;
    margin: 30px 0 15px;
    padding: 0.8em 0.2em;
    font-size: 18px;
    border-radius: 10px;
    background: $mainColor;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.qna-btn {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    color: $mainColor;
}


    // more-area
    .more-area{
        p {
            position: relative;
            text-align: center;
            &::before, &::after {
                content: '∨';
                position: absolute;
                top: 0.8em; left: 50%;
                transform: translateX(-50%);
                font-size: 21px;
                color: #555;
            }
            &::after {
                top: 1.3em;
            }
        }
    }

}

// main
main {
    display: flex;
    flex-direction: column;
    margin: 40px 0;

    .bubble-area {
        margin-top: 30px;
    }

    .bubbles {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    .bubble {
        display: inline-block;
        margin: 5px 5px;
        padding: 10px 15px;
        border-radius: 20px;
        color: white;
        line-height: 1.3;
    }

    .img-bubble {
        align-items: flex-start;
        margin: 0; padding: 0;
        width: 200px;
    }
    
    .mine {
        align-items: flex-end;

    .bubble {
        position: relative;
        margin-left: 25%;
        background: linear-gradient(to bottom, #00D0EA 0%, #1982FC 100%);
        background-attachment: fixed;
        font-weight: 100;
        word-break: keep-all;


        &.last:before {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0; right: -8px;
            width: 20px; height: 20px;
            background: linear-gradient(to bottom, #00D0EA 0%, #1982FC 100%);
            background-attachment: fixed;
            border-bottom-left-radius: 15px;
        }
        &.last::after{
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0; right: -10px;
            width: 10px; height: 20px;
            background: white;
            border-bottom-left-radius: 10px;
        }
    }


      
}

    .outro {
        margin-top: 2em;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        p{
            margin-top: 10px;
        }
    }



}


#qna {

    mark {font-weight: bold;}

    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    h2 {
        position: relative;
        text-align: center;
        font-size: 3em;
        margin-bottom: 30px;
        font-weight: bolder;
        font-style: italic;
        &::before {
            position: absolute;
            bottom: 0;
            content: '';
            background-color: yellow;
            width: 92px; height: 50%;
            z-index: -1;
        }
    }

    .accordion {
        margin-bottom: 1rem;
    }
    
    .accordion-header {
        border-radius: 10px 10px 0 0;
        background-color: #eee;
        padding: 1.3rem;
        font-weight: bold;
        cursor: pointer;
        position: relative;
      
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #ccc;
          transform: scaleY(0);
          transform-origin: top;
          transition: transform 0.3s ease-out;
        }
      
        &.active::after {
          transform: scaleY(1);
        }
      }
      
      .accordion-content {
        background-color: #fff;
        box-shadow: 0 1px 3px #eee;
        padding: 1rem;
        display: none;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        line-height: 1.3;
        word-break: keep-all;
      
        &.active {
            display: block;
            max-height: 1000px;
        }
      }

}
.btn-area {
    text-align: center;

}

footer {
    height: 50px;
    text-align: center;
    line-height: 100px;
}

// max-width: 600px
@media (max-width: 600px) {
    img {
        width: 90%;
    }
    .container {
      padding: 10px;

      .logo-area {
        right: -20%;
        .logo {
            width: 300px;
        }
        }
    }
  }

  // max-width: 450px
@media (max-width: 450px) {
    .container {
        .logo-area {
            right: -20%;
            .logo {
                width: 250px;
            }
        }
    }

}

@media (max-width: 350px) {
    .container {
        .logo-area {
            right: -20%;
            .logo {
                width: 200px;
            }
        }
    }

}